  body {
            background-color: #999966;
            margin: 0em;
        }
        h1 {
	    font-size: 2.0em;
	    margin-top: 1.9em;
	    margin-bottom: 0.3em;
        }
        h2 {
	    font-size: 1.5em;
	    margin-top: 2.4em;
	    margin-bottom: 0.3em;
        }
	h3 {
	    font-size: 1.25em;
	    margin-top: 1.25em;
	    margin-bottom: 0.3em;
	}
	ul {
	    margin: 0;
	}
        div#content {
            background-color: #ffffcc;
            border-left: double #333300 3mm;
            border-right: double #333300 3mm;
            font-family: Times, serif;
            letter-spacing: 0.075em;
            line-height: 1.4;
            margin: 0em auto;
            padding: 2em;
            width: 45em;
        }